<main id="content">
  <ns-landmark type="hillside" gradient="invert-ramp-cyan">
    <h1 slot="heading">
      <span class="h5">My Account Dashboard</span>
      <span class="h1"></span>
    </h1>
    <div slot="paragraph">
      <p></p>
    </div>
  </ns-landmark>

  <ns-panel>
    <ul>
      <li><LinkTo @route="account-details">Account Details</LinkTo></li>
    </ul>
  </ns-panel>
</main>  


